<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
</head>
<body>
    <h3>What is your BMI ?</h3>
    <form method="POST">
        <label for="">Weight (in kg):</label>
        <input type="text" name="weight">
        <label for="">Height (in m):</label>
        <input type="text" name="height">
        <input type="submit" value="Calculate">
    </form>
    <p>{{bmi}}</p>
</body>
</html>